@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Posts Index</h1>
        @if (true)
        {
            <text>
        <p>true is true</p>
        </text>
        }

    </div>
</body>
</html>
